@{
    Layout = "../Shared/_LayoutSide.cshtml";
}




<div class="container-fluid">

    <p>Buy ticket for </p>
    <div class="row">
        <div class="col-sm-4" style="background-color:lavender; height: 80px; text-align:center; vertical-align:middle; ">
            @Html.ActionLink("Movies", "DashBoard", "Home")</div>
        <div class="col-sm-4" style="background-color:lavender; height: 80px;  text-align:center; vertical-align:middle;">
            @Html.ActionLink("Parties", "Register", "Login")</div>
        <div class="col-sm-4" style="background-color:lavender; height: 80px; text-align:center; vertical-align:middle;">
            @Html.ActionLink("Sport Events", "Register", "Login")</div>
        <div class="col-sm-4" style="background-color:lavender; height: 80px; text-align:center; vertical-align:middle;">
            @Html.ActionLink("Opera", "Register", "Login")
        </div>
        <div class="col-sm-4" style="background-color:lavender; height: 80px; text-align:center; vertical-align:middle;">
            @Html.ActionLink("Concerts", "Register", "Login")
        </div>
        <div class="col-sm-4" style="background-color:lavender; height: 80px; text-align:center; vertical-align:middle;">
            @Html.ActionLink("Carting", "Register", "Login")
        </div>   
    
    </div>
</div>






